.alltable {
	th {
		background: #fbfbfb !important;
		font-weight: bold;
		font-size: 22px;
		line-height: 30px;
		padding: 21px 33px 17px;
		color: #3d3d3d;
	}
	td {
		padding: 22px 32px 24px;
	}
	tr {
		border-left: 1px solid #efefef !important;
		border-right: 1px solid #efefef !important;
		&:last-child {
			border-bottom: 1px solid #efefef !important;
		}
	}
	span {
		padding-left: 20px;
		font-style: normal;
		font-weight: bold;
		font-size: 18px;
		line-height: 25px;
	}
	p {
		font-style: normal;
		font-weight: normal;
		font-size: 18px;
		line-height: 25px;
		margin-bottom: 0;
	}
	.red {
		color: red;
	}
	.green {
		color: green;
	}
	.subtotal {
		border-bottom: 1px solid #efefef !important;
		padding-bottom: 10px;
	}
}
#property-table {
	td {
		&:nth-child(2n + 1) {
			padding: 22px 32px;
			background: #fbfbfb !important;
			font-weight: bold;
			font-size: 18px;
			line-height: 25px;
			color: #3d3d3d;
		}
		padding: 24px;
		font-weight: normal;
		font-size: 16px;
		line-height: 22px;
		color: #3d3d3d;
	}
	th {
		&:nth-child(2n + 1) {
			padding: 22px 32px;
			background: #fbfbfb !important;
			font-weight: bold;
			font-size: 18px;
			line-height: 25px;
			color: #3d3d3d;
		}
	}
}
th {
	padding: 24px;
	font-weight: normal;
	font-size: 16px;
	line-height: 22px;
	color: #3d3d3d;
}
table {
	padding: 5px;
	tr {
		td {
			label {
				font-style: normal;
				font-weight: normal;
				font-size: 14px;
				line-height: 140%;
				color: #040b16;
				margin-top: 27px;
				margin-left: 10px;
				span {
					font-weight: normal;
					font-size: 14px !important;
					line-height: 140%;
					color: #7c8188;
					padding-left: 0 !important;
				}
			}
		}
	}
}
.veiw {
	background: #5e2eba;
	border-radius: 5px;
	padding: 11px 16px !important;
	color: #fff;
	font-weight: 500;
	font-size: 18px;
	line-height: 25px;
	height: 50px;
}
.address {
	th {
		background-color: white !important;
		border-bottom: 0 solid #fff;
	}
}
.tax {
	tr {
		td {
			border: 0 solid #fff;
			border-bottom: 1px solid #efefef !important;
		}
	}
}
.login-table{
	tr{
		td{
			.form-group{
				label{
					margin-top: 0;
				}
				input{
					margin-bottom: 0;
				}
			}
		

		}
	}

}