
.alltable {
	th {
		background: #FBFBFB !important;
		font-weight: bold;
		font-size: 22px;
		line-height: 30px;
		padding: 21px 33px 17px;
		color: #3D3D3D;
	}
	td {
		padding: 22px 32px 24px;
	}
}


table {
	
	padding: 5px;
    th {
        padding: 24px;
        font-weight: normal;
        font-size: 16px;
        line-height: 22px;
        color: #3D3D3D;
    }
}




.view-table {
	font-weight: normal;
	font-size: 14px;
	line-height: 140%;
	background: #FFFFFF;
	border: 1px solid #CDCDCD;
	box-sizing: border-box;
	border-radius: 5px;
	padding: 11px 14px;
	color: #394A64;
	height: 50px;
}

table#transaction {
	th {
		font-weight: 600;
		font-size: 16px;
		line-height: 140%;
		color: #3D3D3D;
		padding: 24px 27px 22px;
	}
	td {
		padding: 26px 31px 20px;
		line-height: 33px;
		&:nth-child(2) {
			line-height: 22.4px;
		}
		&:nth-child(5) {
			font-size: 18px;
			line-height: 22.4px;
		}
	}
}

.mr-30 {
	padding-right: 32px;
}
.pr-30 {
	margin-right: 10px;
}


.red {
	color: #FF0000 !important;
}

.primary-main {
	color: #4D20A3 !important;
}

.green {
	color: #24B400 !important;
}

.warning {
	color: #F2A818 !important;
}
.receipt{
	margin-top: 30px;
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 1px solid #CDCDCD;
	h4{
		font-weight: 600;
		font-size: 22px;
		line-height: 120%;
		letter-spacing: -0.01em;
		padding-top: 50px;
		
	
	}
}
h4{
	span{
		font-weight: normal;
		font-size: 20px;
		line-height: 31px;
	}
}
.modal-dialog{
    margin-top: 60px;
    .modal-content{
        h2{
     padding-top: 70px;
        }
      form{
          margin-right: 50px;
      }
       
    }
}
.veiw {
	background: #5e2eba;
	border-radius: 5px;
	padding: 11px 16px;
	color: #fff;
	font-weight: 500;
	font-size: 18px;
	line-height: 25px;
}
.send{
	font-weight: normal;
	font-size: 14px;
	line-height: 140%;
	background: #FFFFFF;
	border: 1px solid #CDCDCD;
	box-sizing: border-box;
	border-radius: 5px;
	padding: 11px 14px;
	color: #394A64;
	height: 50px;
	margin-right: 10px;
}
.bd-example-modal-lg2{
	.modal-dialog{
		.modal-content{
			padding: 0px 10px 40px 40px !important;
		}
	
	}

}
