@import "./style-format.scss";
@mixin theme($theme: DarkGray) {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
	padding: 5px !important;
  }

/* Table  Styles */
h2{
	font-size: 25px !important;
    margin-bottom: 20px;
}
  .alltable {
	th {
		background:$lightgrey !important;
		font-weight: $bold;
		font-size: 22px;
		line-height: 30px;
		padding: 21px 33px 17px;
		color: $darkgrey;
	}
	td {
		padding: 22px 32px 24px;
	}
	span{
		padding-left: 20px;
		font-style: normal;
		font-weight: $bold;
		font-size: 18px;
		line-height: 25px;
	}
	p{
		
		font-style: normal;
		font-weight: $normal;
		font-size: 18px;
		line-height: 25px;
		margin-bottom: 0;
	}
	.red{
		color: $red;
	}
	.green{
		color:$green;
	}
	.subtotal{
		border-bottom: 1px solid $lightgray !important;
		padding-bottom: 10px;
	}
}
.table-responsive {
    display: inline-table;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}
/* Table property Styles */
#property-table {
	td {
		&:nth-child(2n+1) {
			
			background:  $lightgrey !important;
			font-weight: $bold;
			font-size: 14px;
			line-height: 22px;
			color: $darkgrey;
		}
		
		font-weight: $normal;
		font-size: 14px;
		line-height: 22px;
		color: $darkgrey;
	}
	th {
		&:nth-child(2n+1) {
			
			background: $lightgrey !important;
			font-weight: $bold;
			font-size: 14px;
			line-height: 22px;
			color: $darkgrey;
		}
	}
}
th {
	padding: 22px 24px;
	font-weight: $normal;
	font-size: 16px;
	line-height: 22px;
	color: $darkgrey;
}
table {
	padding: 4px;
}
/* Carousel  Styles */
button.owl-prev {
	position: absolute;
	top: 100px;
	left: 11px;
	background: $White !important;
	padding: 5px !important;
	border-radius: 50%;
}
button.owl-next {
	position: absolute;
	top: 100px;
	right: 0px;
	background: $White !important;
	padding: 5px !important;
	border-radius: 50%;
}
.owl-carousel {
	.owl-stage-outer {
		padding: 18px 22px;
	}
	.owl-nav {
		button.owl-next {
			@include theme;
		}
		button.owl-prev {
			@include theme;
		}
	}
}
.carousel-indicators {
	li {
		width: 40px;
		height: 2px;
		cursor: pointer;
	}
}
button.owl-dot {
	background: #394A64 !important;
	border-radius: 10px;
	width: 22px;
	height: 5px;
	margin: 4px;
	&:hover {
		background: $yellow;
	}
	&:active {
		background: $yellow;
	}
}
.owl-dots {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 29px;
}
/* Total due Styles */


.total-due {
	margin-bottom: 42px;
	margin-top: 42px;
	p {
		&:first-child {
			margin-top: 4px;
			font-size: 20px;
			line-height: 33px;
		}
	}
	h2 {
		margin-top: 4px;
	}
	.subtotal{
		justify-content: flex-end;
	}
}
.price {
	font-weight: 600;
	font-size: 25px;
	line-height: 37px;
	margin: 4px 9px 0 19px;
	color: $darkgrey;
}
/* Table Styles */
.table-area {
	table {
		margin-bottom: 41px;
	}
	h2 {
		margin-bottom: 27px;
	}
}
.owertable {
	td {
		font-weight: $normal;
		font-size: 16px;
		line-height: 22px;
		color: $darkgrey;
	}
}
/* Map Styles */

.map-section {
	height: 294px;
	padding: 10px 9px;
}
.mb-32 {
	margin-bottom: 32px;
}
/* Form Total Styles */
.form-total {
	margin-right: 13px;
	margin-top: 5px;
	font-weight: normal;
	font-size: 23px;
	line-height: 34px;
}
.form-price {
	font-weight: 600;
	font-size: 30px;
	line-height: 45px;
}
.mb-36 {
	margin-bottom: 36px;
}
.mr-30 {
	padding-right: 32px;
}
/* Particular Styles */

.particlar{
	display: flex;
	background: $lightwhite;
	
	tr,td{
		background-color: $White;
	}
	
}
.backgrd{
	background: $lightwhite;
}
.pay-now {
	background: $purple;
	border-radius: 5px;
	padding: 11px 16px;
	color: $White;
	font-weight: $medium-weight;
	font-size: 18px;
	line-height: 25px;
}
.border-tr{
	border-left: $border-btm;
	border-right: $border-btm;
&:last-child{
	border-bottom: $border-btm;
}	
}



.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}
.th-bg th {
    background: #fbfbfb;
    font-size: 14px;
    font-weight: 500;
}
.table td, .table th {
    padding: .75rem 1.2rem;
}
.table td, .table th {
    padding: .75rem 1.2rem;
}
.table-bordered, .table-bordered td, .table-bordered th {
    border: 1px solid #dee2e6;
	padding: .75rem 1.2rem;
}

.h2, h2 {
    font-size: 30px !important;
}
.alltable th {
    background: #FBFBFB !important;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
    padding: 21px 33px 17px;
    color: #3D3D3D;
}

.alltable td {
	padding: .75rem 1.2rem;
    font-size: 18px !important;
	padding: .75rem 1.2rem;
    line-height: 30px !important;
}                                           
.alltable th {
    background: #FBFBFB !important;
    font-weight: bold;
    font-size: 18px;
    line-height: 30px;
	padding: .75rem 1.2rem;
    color: #3D3D3D;
}
.collabs-warp {
    width: 100%;
    display: flex;
    cursor: pointer;
    justify-content: space-between;
}
.collabs-warp .paid-status {
   
    padding: 3px 12px;
    height: 24px;
    min-width: 63px;
    font-size: 12px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.paid-status{
	border: 1px solid #dee5ef;
}
.collabs-warp .paid:before {
    content: " ";
    width: 5px;
    height: 5px;
    border-radius: 100%;
    background: #0bc196;
    display: inline-block;
    margin-right: 5px;
}

.owl-carousel .owl-stage-outer {
    box-shadow: 0 0 30px #7d7d7d1a;
    padding: 18px 22px;
}
.h2, h2 {
    font-size: 25px !important;
	font-weight: 500;
}
.table-area h2{
	margin-bottom: 15px;
}
.alltable th {
    background: #FBFBFB !important;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    padding: .75rem 1.2rem;
    color: #3D3D3D;
}
.alltable td {
    padding: .75rem 1.2rem;
    font-size: 14px !important;
    /* padding: .75rem 1.2rem; */
    line-height: 22px !important;
}

.alltable p {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    margin-bottom: 0;
}
#property-table td:nth-child(2n+1) {
	padding: .75rem 1.2rem;
    background: #FBFBFB !important;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    color: #3D3D3D;
}
.pay-now {
    background: #5e2eba;
    border-radius: .25rem;
    color: #fff;
    border: 1px solid #0000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
}