body {
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
	height: 100%;
	font-weight: 400;
}
/* Button it*/
.veiw {
	background: #5e2eba;
	border-radius: 5px;
	padding: 11px 16px;
	color: #fff;
	font-weight: 500;
	font-size: 18px;
	line-height: 25px;
}

.btn {
	&:hover {
		color: #fff;
		text-decoration: none;
	}
}

.btn-light {
	border: 1px solid #cfcfcf;
	height: 50px;
	border-radius: 4px;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 31px;
	background: #fff;
	color: #000000;
	&:hover {
		background: #fff;
		border-color: #cfcfcf;
		color: #000000;
	}
	&:focus {
		background: #fff;
		border-color: #cfcfcf;
		color: #000000;
	}
	&:active {
		background: #fff;
		border-color: #cfcfcf;
		color: #000000;
	}
	&:not(:disabled) {
		&:not(.disabled).active {
			background: #fff;
			border-color: #cfcfcf;
			color: #000000;
			box-shadow: unset;
		}
		&:not(.disabled) {
			&:active {
				background: #fff;
				border-color: #cfcfcf;
				color: #000000;
				box-shadow: unset;
			}
		}
	}
}
/*Drop Down Styles*/
.show {
	> .btn-light.dropdown-toggle {
		background: #fff;
		border-color: #cfcfcf;
		color: #000000;
		box-shadow: unset;
	}
}
.dropdown-item.active {
	color: #fff;
	text-decoration: none;
	background: #5e2eba;
}
.dropdown-item {
	&:active {
		color: #fff;
		text-decoration: none;
		background: #5e2eba;
	}
}
.bootstrap-select {
	.dropdown-toggle {
		&:focus {
			outline: unset !important;
			outline: 0px auto -webkit-focus-ring-color !important;
			outline-offset: -2px;
		}
	}
}
.dropdown-toggle {
	&::after {
		color: #c4c4c4;
		display: inline-block;
		margin-left: 0.255em;
		vertical-align: 0.255em;
		content: "";
		border-top: 0.35em solid;
		border-right: 0.35em solid transparent;
		border-bottom: 0;
		border-left: 0.35em solid transparent;
	}
}


.search-content {
	background: #ffffff;
	border: 1px solid #dadada;
	box-sizing: border-box;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
	border-radius: 10px;
	margin-top: 27px;

	padding: 32px 27px 43px 32px;
	p {
		font-size: 14px;
		line-height: 31px;
		text-align: right;
		margin-bottom: 0;
	}
	h3 {
		margin-top: 19px;
		margin-bottom: 14px;
		font-weight: 500;
		font-size: 23px;
		line-height: 34px;
		color: #3d3d3d;
	}
	span{
		color: red;
	}
}



.form-area {
	
	top: 400px;
	.form-control{
		height: 50px;
	
	}
	
	.form-section {
		border: 1px solid #cdcdcd;
		box-sizing: border-box;
		box-shadow: 0px 0px 30px rgba(125, 125, 125, 0.1);
		border-radius: 10px;
		padding: 32px 130px 40px;
		p {
			margin-bottom: 19px;
			line-height: 31px;
			color: #000000;
		}
		label {
			font-weight: normal;
			font-size: 14px;
			line-height: 140%;
			display: flex;
			align-items: center;
			color: #000000;
			margin-bottom: 0.25rem;
		}
		
	}
	.form-total {
		margin-right: 13px;
		margin-top: 5px;
		font-weight: normal;
		font-size: 23px;
		line-height: 34px;
	}
	.form-price {
		font-weight: 600;
		font-size: 30px;
		line-height: 45px;
	}
}
/* How it*/
.how_it {
	margin-top: 250px;
	margin-bottom: 130px;
	h2 {
		font-weight: 500;
		font-size: 40px;
		line-height: 120%;
		/* identical to box height, or 48px */
		margin-bottom: 16px;

		color: #000000;
	}
	p {
		font-size: 20px;
		line-height: 43px;
		margin-bottom: 57px;

		text-align: center;

		color: #394a64;
	}
	.card {
		margin-bottom: 80px;
		padding-right: 10px;
		border: unset;
		img {
          
			border-radius: 50%;
			margin-right: 25px;
		}
		h4 {
			font-style: normal;
			font-weight: 700;
			font-size: 25px;
			line-height: 46px;
			color: #000000;
		}
		p {
			font-size: 17px;
			line-height: 43px;
			text-align: left;
			color: #394a64;
		}
		.number {
			font-size: 35px;
			line-height: 43px;
			/* identical to box height, or 123% */

			color: #a8c0e3;
		}
	}
}

/*Pagination styles*/
ul.pagination {
	margin-top: 10px;
	margin-bottom: 64px;
}
.page-link {
	border: 1px solid #DEE2E6;
	padding: .75rem 1rem;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	color: #6C757D;
	&:hover {
		box-shadow: unset;
		color: #fff;
		text-decoration: none;
		background: #5E2EBA;
		border-color: #5E2EBA;
	}
	&:active {
		box-shadow: unset;
		color: #fff;
		text-decoration: none;
		background: #5E2EBA;
		border-color: #5E2EBA;
	}
	&:focus {
		box-shadow: unset;
		color: #fff;
		text-decoration: none;
		background: #5E2EBA;
		border-color: #5E2EBA;
	}
}
/*Property card styles*/
.property-card {
	h2 {
        margin-left: 20px;
        margin-top: 46px;
		margin-bottom: 20px;
	}
	.card {
		margin-bottom: 30px;
		background: #FFFFFF;
		border: 1px solid #EFEFEF;
		
		border-radius: 10px;
        .card-img {
            position: relative;
            padding: 21px 21px 20px 22px;
            img {
                width: 100%;
                border-radius: 5px;
            }
            button {
                position: absolute;
                bottom: 29px;
                right: 32px;
            }
        }
        .card-block {
            padding-left: 22px;
            padding-right: 22px;
        }
        .card-title {
            font-weight: 600;
            font-size: 16px;
            line-height: 140%;
            color: #212529;
            margin-top: 3px;
            margin-bottom: 4px;
        }
        .card-sub-title {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 31px;
            color: #000000;
            margin-bottom: 0;
        }
        .card-footer {
            margin-top: 8px;
            border: 1px solid #EBEBEB;
            background: unset;
        }
        .footer-title {
            font-weight: normal;
            font-size: 16px;
            line-height: 31px;
            color: #212529;
        }
        .view-more-detail {
            background: #F2A818;
            border-radius: 3px;
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
            padding: 11px 22px;
            text-align: center;
            color: #FCFCFC;
        }
	}
}
@media screen and (max-width: 768px){
.col.col-md-3 {
    flex: 0 0 100%;
    max-width: 100%;
}
}