/* Color*/
/* Font-weight*/
/*border*/
.alltable th {
  background: #FBFBFB !important;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  padding: 21px 33px 17px;
  color: #3D3D3D;
}

.alltable td {
  padding: 22px 32px 24px;
}

.alltable span {
  padding-left: 20px;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.alltable p {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 0;
}

.alltable .red {
  color: red;
}

.alltable .green {
  color: green;
}

.alltable .subtotal {
  border-bottom: 1px solid #EFEFEF !important;
  padding-bottom: 10px;
}

.table-responsive {
  display: inline-table;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

#property-table td {
  padding: 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #3D3D3D;
}

#property-table td:nth-child(2n+1) {
  padding: 22px 32px;
  background: #FBFBFB !important;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #3D3D3D;
}

#property-table th:nth-child(2n+1) {
  padding: 22px 32px;
  background: #FBFBFB !important;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #3D3D3D;
}

th {
  padding: 22px 24px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #3D3D3D;
}

table {
  padding: 4px;
}

button.owl-prev {
  position: absolute;
  top: 100px;
  left: 11px;
  background: #fff !important;
  padding: 5px !important;
  border-radius: 50%;
}

button.owl-next {
  position: absolute;
  top: 100px;
  right: 0px;
  background: #fff !important;
  padding: 5px !important;
  border-radius: 50%;
}

.owl-carousel .owl-stage-outer {
  padding: 18px 22px;
}

.owl-carousel .owl-nav button.owl-next {
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
  padding: 5px !important;
}

.owl-carousel .owl-nav button.owl-prev {
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.16);
  padding: 5px !important;
}

.carousel-indicators li {
  width: 40px;
  height: 2px;
  cursor: pointer;
}

button.owl-dot {
  background: #394A64 !important;
  border-radius: 10px;
  width: 22px;
  height: 5px;
  margin: 4px;
}

button.owl-dot:hover {
  background: #F2A818;
}

button.owl-dot:active {
  background: #F2A818;
}

.owl-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 29px;
}

.stretch-card > .card {
  width: 100%;
  min-width: 100%;
}

.total-due {
  margin-bottom: 42px;
  margin-top: 42px;
}

.total-due p:first-child {
  margin-top: 4px;
  font-size: 22px;
  line-height: 33px;
}

.total-due h2 {
  margin-top: 4px;
}

.total-due .subtotal {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.price {
  font-weight: 600;
  font-size: 25px;
  line-height: 37px;
  margin: 4px 9px 0 19px;
  color: #3D3D3D;
}

.table-area table {
  margin-bottom: 41px;
}

.table-area h2 {
  margin-bottom: 27px;
}

.owertable td {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #3D3D3D;
}

.map-section {
  height: 294px;
  padding: 10px 9px;
}

.mb-32 {
  margin-bottom: 32px;
}

.form-total {
  margin-right: 13px;
  margin-top: 5px;
  font-weight: normal;
  font-size: 23px;
  line-height: 34px;
}

.form-price {
  font-weight: 600;
  font-size: 30px;
  line-height: 45px;
}

.mb-36 {
  margin-bottom: 36px;
}

.mr-30 {
  padding-right: 32px;
}

.particlar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F6F6F6;
}

.particlar tr, .particlar td {
  background-color: #fff;
}

.backgrd {
  background: #F6F6F6;
}

.pay-now {
  background: #5e2eba;
  border-radius: 5px;
  padding: 11px 16px;
  color: #fff;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
}

.border-tr {
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
}

.border-tr:last-child {
  border-bottom: 1px solid #dee2e6;
}

@media screen and (max-width: 768px) {
  h2 {
    font-weight: 600;
    font-size: 22px !important;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: #3D3D3D;
  }
  .h2 {
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: -0.01em;
    color: #3D3D3D;
  }
  #carrer {
    margin-bottom: 20px;
  }
  .map-section {
    height: 228px;
  }
  .total-due {
    margin-bottom: 25px;
  }
  .total-due p:first-child {
    margin-top: 4px;
    font-size: 16px;
    line-height: 22px;
  }
  .total-due h2 {
    margin-bottom: 15px;
  }
  .total-due .subtotal {
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
  }
  .pay-now {
    font-size: 14px;
    line-height: 22px;
    padding: 8px 15px;
  }
  .total-due .subtotal {
    margin-top: 20px;
    -webkit-box-pack: unset !important;
        -ms-flex-pack: unset !important;
            justify-content: unset !important;
  }
  #property-table td {
    padding: 20px;
    font-size: 16px;
    line-height: 18px;
  }
  #property-table td:nth-child(2n+1) {
    padding: 20px;
    font-size: 16px;
    line-height: 18px;
  }
  #property-table th:nth-child(2n+1) {
    padding: 20px;
    font-size: 16px;
    line-height: 18px;
  }
  th {
    padding: 20px;
    font-size: 16px;
    line-height: 18px;
  }
  .alltable th {
    background: #FBFBFB !important;
    font-weight: 600;
    font-size: 16px;
    line-height: 18px;
    padding: 20px;
    color: #3D3D3D;
  }
  .alltable td {
    padding: 20px;
  }
  .owertable td {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #3D3D3D;
  }
  .p-large {
    font-size: 14px;
  }
  table#transaction th {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #3D3D3D;
    padding: 24px 27px 22px;
    padding: 20px;
  }
  table#transaction td {
    padding: 20px;
    line-height: 18px;
  }
  table#transaction td:nth-child(5) {
    font-size: 14px;
    line-height: 18px;
  }
  .pr-30 {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=property-details.css.map */