/* Color*/
$red: red;
$green: green;
$lightgrey:#FBFBFB;
$darkgrey:#3D3D3D;
$yellow:#F2A818;
$White:#fff;
$lightwhite:#F6F6F6;
$lightgray:#EFEFEF;
$purple:#5e2eba;
/* Font-weight*/
$bold:600;
$normal:400;
$hairline-weight: 100;
$thin-weight:     200;
$light-weight:    300;

$medium-weight:   500;

$bold-weight:     700;
$xbold-weight:    800;
$black-weight:    900;

/*border*/
$border-btm:1px solid #dee2e6;